.section-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-footer__contacts__meil {
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
    font-family: 'Lora', serif;
    font-size: 30px;
}

.section-footer__contacts__phone {
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
    font-family: 'Lora', serif;
}

.section-footer__block-1 {
    position: relative;
    font-family: 'Lora', serif;
    font-size: 30px;
    margin-left: 20%;
    z-index: 2;
}

.section-footer__block-1::before {
    content: "Coffee";
    font-size: 155px;
    position: absolute;
    top: 15%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgba(236, 226, 226, 0.45);
    z-index: -1;
}

.footer__block__image {
    width: 400px;

}

.footer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}