.section-4{
    position: relative;
    padding-top: 50px;
    overflow: visible;
    height: auto;
    margin-bottom: 100px;
    
}

.section-4-wrapper{
    overflow: visible;
}
.section-4__block{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.section-4__title{
    position: relative;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 30px;
    margin-bottom: 90px;
    z-index: 2;
}

.section-4__title::before{
    content: "Coffee";
    font-size: 155px;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    color: rgba(236, 226, 226, 0.45);
    z-index: -1; 
}
.section-4__block-1__image, .section-4__block-2__image, .section-4__block-3__image{
    width: 200px;
    height: 200px;
    
    
}
.section-4__block-1,.section-4__block-2, .section-4__block-3 {
    position: relative;
}

.section-4__block-1__circle{
    position: absolute;
    top: 130px;
    left: 130px;
    width: 140px;
    height: 140px;
    background-color: rgb(211, 139, 87);
    border-radius: 50%;
    z-index: 100;
}
.section-4__block-2__circle{
    position: absolute;
    top: 130px;
    left: 130px;
    width: 140px;
    height: 140px;
    background-color: rgb(184, 178, 174);
    border-radius: 50%;
    z-index: 100;
}


.section-4__block-3__circle{
    position: absolute;
    top: 130px;
    left: 130px;
    width: 140px;
    height: 140px;
    background-color: rgb(211, 139, 87);
    border-radius: 50%;  
}

.all-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    font-size: 15px;
    color: aliceblue;
   
}


.image__bag-coffee{
    position: absolute;
    width: 350px;  
    top: -100px;
    
   
}
