
header{
    position: fixed;
    z-index: 1000;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(112, 74, 24);
}

.menu{
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu__item{
    text-decoration: none;
    color: grey;
    font-family: 'Roboto', sans-serif;
    
}